@use "Content/scss/sizes";
@use "Content/scss/colors";

.setup-wizard-container {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 9fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .setup-wizard-main {
        grid-area: 1 / 1 / 10 / 4;
        display: flex;
        justify-content: center;
        overflow-y: auto;
        margin: sizes.$gutter 0;
    }
    .setup-wizard-footer {
        grid-area: 10 / 1 / 11 / 4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .setup-wizard-sidebar {
        grid-area: 1 / 4 / 11 / 5;
        display: flex;
        flex-direction: column;
        background-color: var(--panel-bg-1);
        padding: sizes.$gutter;
    }

    .eula-step {
        .code-container {
            overflow-y: auto;
            border: 1px solid var(--border-color-light);
            border-radius: sizes.$gutter-xs;

            &::-webkit-scrollbar {
                background-color: var(--panel-bg-1);
                border-radius: 0 sizes.$gutter-xs sizes.$gutter-xs 0;
            }

            &::-webkit-scrollbar-track {
                border-radius: 0 sizes.$gutter-xs sizes.$gutter-xs 0;
            }

            .code-classes {
                background-color: var(--panel-bg-1);
            }
        }
    }

    .finish-step {
        .summary-tab-container {
            border-radius: var(--bs-border-radius);
            border: 1px solid var(--border-color-light);
            background-color: var(--panel-bg-1);

            .nav-link {
                color: colors.$text-emphasis-color;
                font-size: sizes.$font-size-base;
                text-align: center;
                background-image: none !important;

                &[aria-selected="false"] {
                    color: colors.$text-muted-color;
                    background-color: var(--bs-body-bg);
                    border-bottom: 1px solid var(--border-color-light);
                }
            }
            .whats-new-tab {
                &[aria-selected="false"] {
                    border-right: 1px solid var(--border-color-light);
                    border-top-left-radius: var(--bs-border-radius);
                }
            }

            .cluster-tab {
                &[aria-selected="false"] {
                    border-left: 1px solid var(--border-color-light);
                    border-top-right-radius: var(--bs-border-radius);
                }
            }
        }
    }
}

.browser-tab-container {
    border-radius: var(--bs-border-radius);
    border: 1px solid var(--border-color-light);
    background-color: var(--panel-bg-2);

    .nav-link {
        color: colors.$text-emphasis-color;
        font-size: sizes.$font-size-base;
        text-align: center;
        background-image: none !important;

        &[aria-selected="false"] {
            color: colors.$text-muted-color;
            background-color: var(--bs-body-bg);
            border-bottom: 1px solid var(--border-color-light);
        }
    }

    .chrome-tab {
        border-right: 1px solid var(--border-color-light);
        border-top-left-radius: var(--bs-border-radius);
    }

    .firefox-tab,
    .safari-tab {
        border-right: 1px solid var(--border-color-light);
    }

    .other-tab {
        border-top-right-radius: var(--bs-border-radius);
    }
}

.setup-wizard-additional-settings {
    .postgresql-integration {
        display: flex;
        gap: sizes.$gutter-sm;
        align-items: center;
        margin-bottom: sizes.$gutter;
        padding: sizes.$gutter-sm;
        background: #525fff33;
        border-radius: sizes.$gutter-xxs;
        border: 1px solid #525fff;

        &__title {
            font-weight: 700;
            font-size: sizes.$font-size-sm;
            color: #8692ff;
        }

        &__description {
            font-weight: 400;
            font-size: sizes.$font-size-xs;
            color: #8692ff;
        }

        &__icon {
            color: #8692ff;
        }

        &__switch {
            background: #525fff33;
            border: 1px solid #525fff;
        }
    }
}
