[class*=" icon-"],
[class^="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: relative;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //top: .1em;
    line-height: 70%;
    font-size: 120%;
    vertical-align: -0.175em;

    &::after {
        position: absolute;
        bottom: 8%;
        right: -4%;
        font-size: 50%;
        line-height: 50%;
    }
}

[class*=" icon-addon-"],
[class^="icon-addon-"] {
    &::before {
        clip-path: polygon(
            0 0,
            100% 0,
            100% 59%,
            95.5% 54.5%,
            88% 50.3%,
            80% 48.5%,
            71% 49.2%,
            64% 52%,
            58% 56%,
            53% 62%,
            50% 69%,
            48.8% 79%,
            50.5% 87%,
            55% 95%,
            60% 100%,
            0 100%
        );
    }
}

.icon-lg {
    font-size: 38px;
}

.icon-xl {
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    &:before {
        display: inline-block;
        font-size: 58px;
    }
}
